apiVersion: v1
kind: Namespace
metadata:
  name: filebeat
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: filebeat
data:
  filebeat.yml: |-
    filebeat.inputs:
    - type: journald
      id: everything

    output.console:
      enabled: true
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: filebeat
  namespace: filebeat
spec:
  selector:
    matchLabels:
      app: filebeat
  template:
    metadata:
      labels:
        app: filebeat
    spec:
      containers:
      - name: filebeat
        image: cgr.dev/${ORGANIZATION}/filebeat:latest
        args: ["-c", "/etc/filebeat.yml", "-e"]
        imagePullPolicy: Always
        securityContext:
          runAsUser: 0  # Needs root to read /run/log/journal
        volumeMounts:
        - name: config
          mountPath: /etc/filebeat.yml
          subPath: filebeat.yml
        - name: journal
          mountPath: /run/log/journal
        - name: machine-id
          mountPath: /etc/machine-id
          readOnly: true
      volumes:
      - name: config
        configMap:
          name: filebeat-config
      - name: journal
        hostPath:
          path: /run/log/journal
      - name: machine-id
        hostPath:
          path: /etc/machine-id
