kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pull-secret-updater
rules:
  - apiGroups: [""]
    resources: ["namespaces"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "create", "update", "patch"]
